@import url(homevar.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background: var(--color--body-);
  transition: background 0.5s ease;
  height: 1000px;
}

/******************************* ENCABEZADO ***************************/

.caja_header{
    height: 70px;
    display: flex;
    /* border: 2px red solid; */
    justify-content: space-around;
}
.menu_div{
  /* border: 2px blue solid; */
  height: 100%;
  display: flex;
  align-items: center;
}
.menu_div img{
    max-width: 150px;
    /* border: 2px blueviolet solid; */

}
/************************* BOTONES  ***********************/
.caja_header .cajita_botones{
  /* border: 2px black solid; */
  width: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
/* BOTON 1 */
.caja_header .cajita_botones .boton1{
  color: var(--color-botones);
  background: var(--color-texto);
  border: 1px var(--color-borde) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  transition: background 0.5s ease, transform 0.5s ease, box-shadow 0.3s ease ;
  cursor: pointer;
  font-family: "cinzel_decorative_regular";
}
.caja_header .cajita_botones .boton1 img{
  max-width: 20px;
  filter: var(--color-house-2);
}
.caja_header .cajita_botones .boton1:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px 2px var(--color-zombra-actual);
}
/* BOTON 2 */
.caja_header .cajita_botones .boton2{
  color: var(--color-texto);
  background: var(--color-botones);
  border: 1px rgb(52, 52, 52) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  transition: background 0.5s ease, transform 0.5s ease, box-shadow 0.3s ease ;
  cursor: pointer;
  font-family: "cinzel_decorative_regular";
}
.caja_header .cajita_botones .boton2 img{
  max-width: 20px;
  filter: var(--color-house-);
  transition: filter 0.5s ease;
}
.caja_header .cajita_botones .boton2:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px 2px var(--color-zombra);
}
/* BOTON 3 */
.caja_header .cajita_botones .boton3{
  color: var(--color-texto);
  background: var(--color-botones);
  border: 1px rgb(52, 52, 52) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  transition: background 0.5s ease, transform 0.5s ease, box-shadow 0.3s ease ;
  cursor: pointer;
  font-family: "cinzel_decorative_regular";
}
.caja_header .cajita_botones .boton3 img{
  max-width: 20px;
  filter: var(--color-house-);
}
.caja_header .cajita_botones .boton3:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px 2px var(--color-zombra);
}
/********************** MOOD OSCURO **********************/
.mode_dark{
  /* border: 2px seagreen solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  justify-content: space-evenly;
}
.mode_dark img{
  max-width: 40px;
  /* border: 2px slateblue solid; */
  cursor: pointer;
}
.mode_dark img:hover{
  max-width: 40px;
  /* border: 2px slateblue solid; */
  cursor: pointer;
}

/******************************* CAJA MAIN *****************************/
.caja_main{
  /* border: 2px red solid; */
  height: 1800px;
  display: flex;
  flex-direction: column;
  gap: 6%;
}
.caja_main .div_aside{
  position: fixed;
  top: 0;
  left: 0;
  width: 200px; 
  height: 100%;
  /* background-color: purple; */
  z-index: 999; 
  transition: width 0.5s ease, img 0.5s ease;
}

.imagen_div {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}
  
.imagen_div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin-bottom: 100px;
}
  
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.386);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.overlay h1 {
  color: white;
  font-size: 3rem;
  text-shadow: 2px 2px 4px #000;
  font-family: "medieval_sharp-regular";
}
.flotando {
  display: inline-block;
  animation: flotar 2.5s ease-in-out infinite;
}

@keyframes flotar {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(); }
}

/* SECTION PART */
.div_sections{
  display: flex;
  flex-direction: column;
  gap: 12%;
}
.caja_section{
  /* border: 2px blue solid; */
  display: flex;
  background: var(--color-texto);
  border-radius: 20px;
  box-shadow: 0 0 15px 3px var(--color-zombra);
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
  width: 90%;
  margin: auto;
  transition: transform 0.3s ease;
}
.caja_section:hover{
  transform: scale(1.05);
}
.div_bienvenido{
  /* border: 2px rgb(0, 0, 0) solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 800px;
  height: 350px;
}
.caja_section .div_bienvenido h1{
  /* border: 2px blueviolet solid; */
  font-size: 50px;
  text-align: left;
  font-family: "cinzel_decorative_regular";
  color: var(--color-letra);
}

.caja_section .div_bienvenido p{
  /* border: 2px yellow solid; */
  font-size: 25px;
  text-align: left;
  font-family: "cormorant_garamond-medimun";
  color: var(--color-letra);
}

.caja_section img{
  /* border: 2px rebeccapurple solid; */
  max-width: 300px;
}


/* LISTA DE COMO USAR */
.section_usar{
  background: var(--color-texto);
  border-radius: 20px;
  box-shadow: 0 0 15px 3px var(--color-zombra);
  padding: 20px;
  width: 90%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  transition: transform 0.3s ease;
}
.section_usar:hover{
  transform: scale(1.05);
}
.div_titulo_usar h1{
  /* border: 2px seagreen solid; */
  font-size: 50px;
  font-family: "cinzel_decorative_regular";
  color: var(--color-letra);
}

.como_usar {
  height: 400px;
  display: flex;
  width: 80%;
  /* border: 2px blue solid; */
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}
.como_usar img{
  max-width: 400px;
  /* border: 2px violet solid; */
}
.lista_comousar {
  /* border: 2px black solid; */
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  
}
.lista_comousar li{
  /* border: 2px yellow solid; */
  font-size: 25px;
  font-family: "cormorant_garamond-medimun";
  color: var(--color-letra);
}

