@import url(homevar.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background: var(--color--body-);
  transition: background 0.5s ease;
  height: 1000px;
}

/******************************* ENCABEZADO ***************************/

.caja_header{
    height: 70px;
    display: flex;
    /* border: 2px red solid; */
    justify-content: space-around;
}
.menu_div{
  /* border: 2px blue solid; */
  height: 100%;
  display: flex;
  align-items: center;
}
.menu_div img{
    max-width: 150px;
    /* border: 2px blueviolet solid; */

}
/************************* BOTONES  ***********************/
.caja_header .cajita_botones{
  /* border: 2px black solid; */
  width: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
/* BOTON 1 */
.caja_header .cajita_botones .boton1{
  color: var(--color-botones);
  background: var(--color-texto);
  border: 1px var(--color-borde) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  transition: background 0.5s ease, transform 0.5s ease, box-shadow 0.3s ease ;
  cursor: pointer;
  font-family: "cinzel_decorative_regular";
}
.caja_header .cajita_botones .boton1 img{
  max-width: 20px;
  filter: var(--color-house-2);
}
.caja_header .cajita_botones .boton1:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px 2px var(--color-zombra-actual);
}
/* BOTON 2 */
.caja_header .cajita_botones .boton2{
  color: var(--color-texto);
  background: var(--color-botones);
  border: 1px rgb(52, 52, 52) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  transition: background 0.5s ease, transform 0.5s ease, box-shadow 0.3s ease ;
  cursor: pointer;
  font-family: "cinzel_decorative_regular";
}
.caja_header .cajita_botones .boton2 img{
  max-width: 20px;
  filter: var(--color-house-);
  transition: filter 0.5s ease;
}
.caja_header .cajita_botones .boton2:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px 2px var(--color-zombra);
}
/* BOTON 3 */
.caja_header .cajita_botones .boton3{
  color: var(--color-texto);
  background: var(--color-botones);
  border: 1px rgb(52, 52, 52) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  transition: background 0.5s ease, transform 0.5s ease, box-shadow 0.3s ease ;
  cursor: pointer;
  font-family: "cinzel_decorative_regular";
}
.caja_header .cajita_botones .boton3 img{
  max-width: 20px;
  filter: var(--color-house-);
}
.caja_header .cajita_botones .boton3:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px 2px var(--color-zombra);
}
/********************** MOOD OSCURO **********************/
.mode_dark{
  /* border: 2px seagreen solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  justify-content: space-evenly;
}
.mode_dark img{
  max-width: 40px;
  /* border: 2px slateblue solid; */
  cursor: pointer;
}
.mode_dark img:hover{
  max-width: 40px;
  /* border: 2px slateblue solid; */
  cursor: pointer;
}

/******************************* CAJA MAIN *****************************/
.caja_main{
  /* border: 2px red solid; */
  height: 3100px;
  display: flex;
  flex-direction: column;
  gap: 6%;
}
.caja_main .div_aside{
  position: fixed;
  top: 0;
  left: 0;
  width: 200px; 
  height: 100%;
  /* background-color: purple; */
  z-index: 999; 
  transition: width 0.5s ease, img 0.5s ease;
}

.imagen_div {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}
  
.imagen_div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin-bottom: 100px;
}
  
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.386);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.overlay h1 {
  color: white;
  font-size: 3rem;
  text-shadow: 2px 2px 4px #000;
  font-family: "medieval_sharp-regular";
}
.flotando {
  display: inline-block;
  animation: flotar 2.5s ease-in-out infinite;
}

@keyframes flotar {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(); }
}

/* SECTION PART */
.div_sections{
  display: flex;
  flex-direction: column;
  gap: 3%;
}
.caja_section{
  /* border: 2px blue solid; */
  display: flex;
  background: var(--color-texto);
  border-radius: 20px;
  box-shadow: 0 0 15px 3px var(--color-zombra);
  justify-content: space-evenly;
  align-items: center;
  height: 650px;
  width: 90%;
  margin: auto;
  transition: transform 0.3s ease;
}
.caja_section:hover{
  transform: scale(1.05);
}
.div_bienvenido{
  /* border: 2px rgb(0, 0, 0) solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 800px;
  height: 350px;
}
.caja_section .div_bienvenido h1{
  /* border: 2px blueviolet solid; */
  font-size: 50px;
  text-align: left;
  font-family: "cinzel_decorative_regular";
  color: var(--color-letra);
}

.caja_section .div_bienvenido p{
  /* border: 2px yellow solid; */
  font-size: 25px;
  text-align: left;
  font-family: "cormorant_garamond-medimun";
  color: var(--color-letra);
}

.caja_section img{
  /* border: 2px rebeccapurple solid; */
  max-width: 300px;
}


/* LISTA DE COMO USAR */
.section_usar{
  background: var(--color-texto);
  border-radius: 20px;
  box-shadow: 0 0 15px 3px var(--color-zombra);
  padding: 40px;
  width: 90%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  transition: transform 0.3s ease;

}
.section_usar:hover{
  transform: scale(1.05);
}
.div_titulo_usar h1{
  /* border: 2px seagreen solid; */
  font-size: 50px;
  font-family: "cinzel_decorative_regular";
  color: var(--color-letra);
}

.como_usar {
  height: 400px;
  display: flex;
  width: 80%;
  /* border: 2px blue solid; */
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}
.como_usar img{
  max-width: 350px;
  /* border: 2px violet solid; */
  border-radius: 50px;
}
.lista_comousar {
  /* border: 2px black solid; */
  width: 60%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  
}
.lista_comousar li{
  /* border: 2px yellow solid; */
  font-size: 25px;
  font-family: "cormorant_garamond-medimun";
  color: var(--color-letra);
}

/************************** COMO JUGAR ***********************/

.como_funciona {
  border-radius: 20px;
  background: var(--color-texto);
  box-shadow: 0 0 15px 3px var(--color-zombra);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
  height: 600px;
  padding: 20px;
  transition: transform 0.3s ease;
}
.como_funciona:hover{
  transform: scale(1.05);
}
.div_funciona-information {
  /* border: 2px saddlebrown solid; */
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.div_funciona-information h1{
  /* border: 2px rgb(72, 94, 191) solid; */
  font-size: 55px;
  font-family: "cinzel_decorative_regular";
  color: var(--color-letra);
}
.div_funciona-information ul{
  /* border: 2px rgb(24, 10, 93) solid; */
  font-size: 30px;
  font-family: "cormorant_garamond-medimun";
  list-style-type: none;
  color: var(--color-letra);
}
.div_funciona-information li{
  /* border: 2px rgb(213, 24, 153) solid; */
}
.imagen_como-funciona {
  /* border: 2px rgb(51, 18, 31) solid; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagen_como-funciona img{
  /* border: 2px rgb(138, 236, 40) solid; */
  max-width: 400px;
  border-radius: 40px;
}

/* SECTION RESPONSE */

.section_responsive {
  /* border: 2px blue solid; */
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  height: 400px;
}
.div_objetivo {
  padding: 30px;
  background: var(--color-texto);
  box-shadow: 0 0 15px 3px var(--color-zombra);
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 9%;
  border-radius: 20px;
  transition: transform 0.5s ease;
}
.div_objetivo:hover{
  transform: scale(1.05);
}
.titulo_obj {
  /* border: 2px rgb(106, 175, 162) solid; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.titulo_obj h1{
  /* border: 2px rgb(184, 198, 32) solid; */
  font-family: "cinzel_decorative_regular";
  font-size: 28px;
  color: var(--color-letra);
}
.desc_obj {
  /* border: 2px rgb(119, 14, 65) solid; */
  display: flex;
  justify-content: space-evenly;
}
.desc_obj img{
  /* border: 2px rgb(60, 179, 66) solid; */
  max-width: 180px;
}
.desc_obj p{
  /* border: 2px rgb(22, 170, 116) solid; */
  font-family: "cormorant_garamond-medimun";
  font-size: 25px;
  width: 60%;
  color: var(--color-letra);
}
.div_respons {
  padding: 30px;
  background: var(--color-texto);
  box-shadow: 0 0 15px 3px var(--color-zombra);
  border-radius: 20px;
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7%;
  transition: transform 0.5s ease;
}

.div_respons:hover{
  transform: scale(1.05);
}
.titulo_respons {
  /* border: 2px rgb(179, 0, 255) solid; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.titulo_respons h1{
  /* border: 2px rgb(115, 115, 173) solid; */
  font-size: 28px;
  font-family: "cinzel_decorative_regular";
  color: var(--color-letra);
}
.desc_respons {
  /* border: 2px rgb(246, 189, 231) solid; */
  display: flex;
  justify-content: space-evenly;
}
.desc_respons img{
  /* border: 2px rgb(105, 153, 21) solid; */
  max-width: 180px;
  filter: var(--color-responsive);
}
.desc_respons img{
  
}
.desc_respons p{
  /* border: 2px rgb(12, 12, 118) solid; */
  font-family: "cormorant_garamond-medimun";
  font-size: 25px;
  width: 60%;
  color: var(--color-letra);
}



