@import url(newvar.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background: var(--color--body-);
  transition: background 0.5s ease;
  height: 1000px;
}

/******************************* ENCABEZADO ***************************/

.caja_header{
    height: 70px;
    display: flex;
    justify-content: space-around;
}
.menu_div{
  height: 100%;
  display: flex;
  align-items: center;
}
.menu_div img{
    max-width: 150px;
}

/************************* BOTONES  ***********************/

.caja_header .cajita_botones{
  width: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

/************************* BOTON 1 ************************/

.caja_header .cajita_botones .boton1{
  color: var(--color-texto);
  background: var(--color-texto);
  background: var(--color-botones);
  border: 1px rgb(52, 52, 52) solid;
  border: 1px var(--color-borde) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  transition: background 0.5s ease, transform 0.5s ease, box-shadow 0.3s ease ;
  cursor: pointer;
  font-family: "cinzel_decorative_regular";
}
.caja_header .cajita_botones .boton1 img{
  max-width: 20px;
  filter: var(--color-house-);
}
.caja_header .cajita_botones .boton1:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px 2px var(--color-zombra-actual);
}

/************************* BOTON 2 ***************************/

.caja_header .cajita_botones .boton2{
  color: var(--color-botones);
  background: var(--color-texto);
  border: 1px var(--color-borde) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  transition: background 0.5s ease, transform 0.5s ease, box-shadow 0.3s ease ;
  cursor: pointer;
  font-family: "cinzel_decorative_regular";
}
.caja_header .cajita_botones .boton2 img{
  max-width: 20px;
  filter: var(--color-house-2);
  transition: filter 0.5s ease;
}
.caja_header .cajita_botones .boton2:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px 2px var(--color-zombra);
}

/****************************** BOTON 3 ***************************/

.caja_header .cajita_botones .boton3{
  color: var(--color-texto);
  background: var(--color-botones);
  border: 1px rgb(52, 52, 52) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  transition: background 0.5s ease, transform 0.5s ease, box-shadow 0.3s ease ;
  cursor: pointer;
  font-family: "cinzel_decorative_regular";
}
.caja_header .cajita_botones .boton3 img{
  max-width: 20px;
  filter: var(--color-house-);
}
.caja_header .cajita_botones .boton3:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px 2px var(--color-zombra);
}

/********************** MOOD OSCURO **********************/

.mode_dark{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  justify-content: space-evenly;
}
.mode_dark img{
  max-width: 40px;
  cursor: pointer;
}
.mode_dark img:hover{
  cursor: pointer;
}

/******************************* CAJA MAIN *****************************/
.caja_main{
    height: 2100px;
    display: flex;
    flex-direction: column;
    gap: 5%;
  }
  .caja_main .div_aside{
    position: fixed;
    top: 0;
    left: 0;
    width: 200px; 
    height: 100%;
    z-index: 999; 
    transition: width 0.5s ease, img 0.5s ease;
  }
  
  .imagen_div {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
  }
    
  .imagen_div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin-bottom: 100px;
  }
    
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.684);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  .overlay h1 {
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 4px #000;
    font-family: "medieval_sharp-regular";
  }

  /********************************** ANIMACION FLOTANTE ****************************/

  .flotando {
    display: inline-block;
    animation: flotar 2.5s ease-in-out infinite;
  }
  
  @keyframes flotar {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(); }
  }

  /************************************** SECTION CREAR **********************************/
  .contenedor-selects{
    padding: 30px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    height: 1300px;
    width: 90%;
    margin: auto;
    justify-content: center;
    box-shadow: 0 0 10px 2px var(--color-zombra);
    border-radius: 20px;
  }
  .caja_main .section_crear {
    /* border: 2px red solid; */
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
  }
  .titulo_crear h1{
    /* border: 2px yellow solid; */
    color: var(--color-letra);
    font-size: 40px;
    font-family: "cinzel_decorative_regular";
  }
  .nombre_crear{
    /* border: 2px rgb(223, 135, 235) solid; */
    width: 85%;
    height: 100px;
    margin-left: 9%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
  }
  .titulo_nombre{
    /* background: red; */
    font-size: 30px;
    font-family: "cormorant_garamond-medimun";
    color: var(--color-letra);
  }
  .nombre_nuevo{
    /* border: 2px slategray solid; */
    padding-left: 30px;
  }
  .input_nombre input{
    border-radius: 20px;
    /* border: 2px rgb(56, 140, 225) solid; */
    font-family: "cormorant_garamond-medimun";
    font-size: 17px;
    height: 40px;
    width: 95%;
    padding: 20px;
    background: var(--color-texto);
    border: 1px var(--color-borde) solid;
    box-shadow: 0 0 5px 1px var(--color-zombra);
    color: var(--color-letra);
  }

  /* RAZAS */

  #RaceSelect{
    /* border: 2px red solid; */
    font-size: 17px;
    font-family: "cormorant_garamond-medimun";
    height: 40px;
    width: 93%;
    padding-left: 20px;
    border-radius: 20px;
    margin-left: 30px;
    background: var(--color-texto);
    border: 1px var(--color-borde) solid;
    box-shadow: 0 0 5px 1px var(--color-zombra);
    color: var(--color-letra);
  }
  .razas_div{
    /* border: 2px salmon solid; */
    display: flex;
    flex-direction: column;
    margin-left: 7.5%;
    width: 85%;
    height: 90px;
    justify-content: space-between;
  }

  .div_raza{
    /* border: 2px blue solid; */
  }
  .div_raza span{
    color: var(--color-letra);
    font-size: 30px;
    font-family: "cormorant_garamond-medimun";
  }

  /* CLASES */
  #ClasesSelect{
    font-size: 17px;
    font-family: "cormorant_garamond-medimun";
    height: 40px;
    width: 93%;
    padding-left: 20px;
    border-radius: 20px;
    margin-left: 30px;
    background: var(--color-texto);
    border: 1px var(--color-borde) solid;
    box-shadow: 0 0 5px 1px var(--color-zombra);
    color: var(--color-letra);
  }
  .clases_div {
    display: flex;
    flex-direction: column;
    margin-left: 7.5%;
    width: 85%;
    height: 90px;
    justify-content: space-between;
    color: var(--color-letra);
  }
  .div_clase {
  }
  .div_clase span{
    font-size: 30px;
    font-family: "cormorant_garamond-medimun";
  }

  /* GENDER */
  #genderselect{
    font-size: 17px;
    font-family: "cormorant_garamond-medimun";
    height: 40px;
    width: 93%;
    padding-left: 20px;
    border-radius: 20px;
    margin-left: 30px;
    background: var(--color-texto);
    border: 1px var(--color-borde) solid;
    box-shadow: 0 0 5px 1px var(--color-zombra);
    color: var(--color-letra);
  }
  .genero_div {
    display: flex;
    flex-direction: column;
    margin-left: 7.5%;
    width: 85%;
    height: 90px;
    justify-content: space-between;
    color: var(--color-letra);
  }
  .div_genero {
  }
  .div_genero span{
    font-size: 30px;
    font-family: "cormorant_garamond-medimun";
  }
  
  /* ARMADURA */

  #armourSelect{
    font-size: 17px;
    font-family: "cormorant_garamond-medimun";
    height: 40px;
    width: 93%;
    padding-left: 20px;
    border-radius: 20px;
    margin-left: 30px;
    background: var(--color-texto);
    border: 1px var(--color-borde) solid;
    box-shadow: 0 0 5px 1px var(--color-zombra);
    color: var(--color-letra);
  }
  .armour_div {
    display: flex;
    flex-direction: column;
    margin-left: 7.5%;
    width: 85%;
    height: 90px;
    justify-content: space-between;
    color: var(--color-letra);
  }
  .div_armour {
  }
  .div_armour span{
    color: var(--color-letra);
    font-size: 30px;
    font-family: "cormorant_garamond-medimun";
  }

  /* ARMAS */

  #weaponSelect{
    font-size: 17px;
    font-family: "cormorant_garamond-medimun";
    height: 40px;
    width: 93%;
    padding-left: 20px;
    border-radius: 20px;
    margin-left: 30px;
    background: var(--color-texto);
    border: 1px var(--color-borde) solid;
    box-shadow: 0 0 5px 1px var(--color-zombra);
    color: var(--color-letra);
  }
  .weapon_div {
    display: flex;
    flex-direction: column;
    margin-left: 7.5%;
    width: 85%;
    height: 90px;
    justify-content: space-between;
    color: var(--color-letra);
  }
  .div_weapon {
  }
  .div_weapon span{
    font-size: 30px;
    font-family: "cormorant_garamond-medimun";
    color: var(--color-letra);
  }

  /* HABILIDADES */


  .habilidades {
    /* border: 2px rgb(77, 110, 66) solid; */
    display: flex;
    flex-direction: column;
    margin-left: 7.5%;
    width: 85%;
    height: 150px;
    gap: 10px;
  }
  .titulo_hab {
    /* border: 2px rgb(167, 188, 47) solid; */
    font-size: 30px;
    font-family: "cormorant_garamond-medimun";
    color: var(--color-letra);
  }
  .destrezas{
    /* border: 2px blue solid; */
    display: flex;
    height: 170px;
    justify-content: space-between;
  }
  .input_Fuerza {
    /* border: 2px rgb(74, 0, 148) solid; */
    font-size: 17px;
    font-family: "cormorant_garamond-medimun";
    height: 40px;
    width: 15%;
    padding-left: 20px;
    border-radius: 20px;
  }
  .fuerza_numero{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .fuerza_numero input{
    color: var(--color-letra);
    font-size: 17px;
    font-family: "cormorant_garamond-medimun";
    height: 40px;
    width: 100%;
    padding-left: 20px;
    border-radius: 20px;
    margin-left: 10px;
    background: var(--color-texto);
    border: 1px var(--color-borde) solid;
    box-shadow: 0 0 5px 1px var(--color-zombra);
  }
  .fuerza_numero span{
    color: var(--color-letra);
    font-size: 20px;
    font-family: "cormorant_garamond-medimun";
  }

  /* DESTREZA */

  .input_Destreza {
    /* border: 2px rgb(74, 0, 148) solid; */
    font-size: 17px;
    font-family: "cormorant_garamond-medimun";
    height: 40px;
    width: 15%;
    padding-left: 20px;
    border-radius: 20px;
  }
  .Destreza_numero {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .Destreza_numero input{
    font-size: 17px;
    font-family: "cormorant_garamond-medimun";
    height: 40px;
    width: 100%;
    padding-left: 20px;
    border-radius: 20px;
    margin-left: 10px;
    background: var(--color-texto);
    border: 1px var(--color-borde) solid;
    box-shadow: 0 0 5px 1px var(--color-zombra);
    color: var(--color-letra);
  }
  .Destreza_numero span{
    color: var(--color-letra);
    font-size: 20px;
    font-family: "cormorant_garamond-medimun";
  }
  /* INTELIGENCIA */

  .input_Inteligencia {
    /* border: 2px rgb(74, 0, 148) solid; */
    font-size: 17px;
    font-family: "cormorant_garamond-medimun";
    height: 40px;
    width: 15%;
    padding-left: 20px;
    border-radius: 20px;
  }
  .Inteligencia_numero {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .Inteligencia_numero input{
    font-size: 17px;
    font-family: "cormorant_garamond-medimun";
    height: 40px;
    width: 100%;
    padding-left: 20px;
    border-radius: 20px;
    margin-left: 10px;
    background: var(--color-texto);
    border: 1px var(--color-borde) solid;
    box-shadow: 0 0 5px 1px var(--color-zombra);
    color: var(--color-letra);
  }
  .Inteligencia_numero span{
    font-size: 20px;
    font-family: "cormorant_garamond-medimun";
    color: var(--color-letra);
  }
  /* HABILIDAD */

  .input_habilidad {
    /* border: 2px rgb(74, 0, 148) solid; */
    font-size: 17px;
    font-family: "cormorant_garamond-medimun";
    height: 40px;
    width: 15%;
    padding-left: 20px;
    border-radius: 20px;
  }
  .habilidad_numero {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .habilidad_numero input{
    font-size: 17px;
    font-family: "cormorant_garamond-medimun";
    height: 40px;
    width: 100%;
    padding-left: 20px;
    border-radius: 20px;
    margin-left: 10px;
    background: var(--color-texto);
    border: 1px var(--color-borde) solid;
    box-shadow: 0 0 5px 1px var(--color-zombra);
    color: var(--color-letra);
  }
  .habilidad_numero span{
    font-size: 20px;
    font-family: "cormorant_garamond-medimun";
    color: var(--color-letra);
  }

  /* SABIDURIA */

  .input_sabiduria {
    /* border: 2px rgb(74, 0, 148) solid; */
    font-size: 17px;
    font-family: "cormorant_garamond-medimun";
    height: 40px;
    width: 15%;
    padding-left: 20px;
    border-radius: 20px;
  }
  .sabiduria_numero {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .sabiduria_numero input{
    font-size: 17px;
    font-family: "cormorant_garamond-medimun";
    height: 40px;
    width: 100%;
    padding-left: 20px;
    border-radius: 20px;
    margin-left: 10px;
    background: var(--color-texto);
    border: 1px var(--color-borde) solid;
    box-shadow: 0 0 5px 1px var(--color-zombra);
    color: var(--color-letra);
  }
  .sabiduria_numero span{
    font-size: 20px;
    font-family: "cormorant_garamond-medimun";
    color: var(--color-letra);
  }

  /* SPELLS */
  #spellSelect{
    color: var(--color-letra);
    font-size: 17px;
    font-family: "cormorant_garamond-medimun";
    height: 40px;
    width: 93%;
    padding-left: 20px;
    border-radius: 20px;
    margin-left: 30px;
    background: var(--color-texto);
    border: 1px var(--color-borde) solid;
    box-shadow: 0 0 5px 1px var(--color-zombra);
  }
  .spell_div {
    color: var(--color-letra);
    display: flex;
    flex-direction: column;
    margin-left: 7.5%;
    width: 85%;
    height: 90px;
    justify-content: space-between;
  }
  .div_spell {
  }
  .div_spell span{
    font-size: 30px;
    font-family: "cormorant_garamond-medimun";
  }

  /* ACCESORIOS */
  #accesorSelect{
    color: var(--color-letra);
    font-size: 17px;
    font-family: "cormorant_garamond-medimun";
    height: 40px;
    width: 93%;
    padding-left: 20px;
    border-radius: 20px;
    margin-left: 30px;
    background: var(--color-texto);
    border: 1px var(--color-borde) solid;
    box-shadow: 0 0 5px 1px var(--color-zombra);
  }
  .accesor_div {
    color: var(--color-letra);
    display: flex;
    flex-direction: column;
    margin-left: 7.5%;
    width: 85%;
    height: 90px;
    justify-content: space-between;
  }
  .div_accesor {
  }
  .div_accesor span{
    color: var(--color-letra);
    font-size: 30px;
    font-family: "cormorant_garamond-medimun";
  }


  .btonsito{
    /* border: 2px red solid; */
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    display: flex;
    justify-content: center;

  }

  .btonsito button{
    /* border: 2px blue solid; */
    width: 20%;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    background: var(--color-texto);
    border: 1px var(--color-borde) solid;
    box-shadow: 0 0 5px 1px var(--color-zombra);
    font-family: "cormorant_garamond-medimun";
    color: var(--color-texto);
    background: var(--color-zombra);
    border: 1px var(--color-borde) solid;
    transition: transform 0.5s ease;
  }


  .btonsito button:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px 2px var(--color-zombra-actual);
  }
  
  
  

  

  


  
  