@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");
@import url(variables1.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  gap: 5%;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(var(--color-gradiant-1), var(--color-gradiant-2)), url(https://img.goodfon.com/original/1920x1080/2/19/dungeons-dragons-curse-of-strahd-podzemelia-i-drakony-nastol.jpg);
  background-size: cover;
}
.caja_main h1{
  font-size: 75px;
  font-family: "MedievalSharp-Regular";
}

.caja_main p {
  font-family: "Cinzel_Decorative-regular";
  width: 50%;
  font-size: 15px;
  text-align: center;
  line-height: 1.8;
}

.caja_main .glowIn {
  color: white;

  span {
    animation: glow-in 0.5s both;
  }
}

@keyframes glow-in {
  from {
    opacity: 0;
  }
  65% {
    opacity: 1;
    text-shadow: 0 0 25px white;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 0.7;
  }
}

.caja_main .buttonGlow {
  background: transparent;
  border: 2px solid white;
  color: white;
  font-size: 1.2em;
  padding: 10px 20px;
  cursor: pointer;
  font-family: Lora, serif;
  transition: all 0.5s ease;
}
  
.caja_main .buttonGlow:hover {
  background-color: white;
  color: black;
  }