@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");

body {
  display: flex;
  flex-direction: column;
  height: 97vh;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      rgba(16, 16, 16, 0.8),
      rgba(16, 16, 16, 0.8)
    ),
    url(https://img.goodfon.com/original/1920x1080/2/19/dungeons-dragons-curse-of-strahd-podzemelia-i-drakony-nastol.jpg);
  background-size: cover;
}

p {
  margin: 0em 5em 4em 5em;
}

h1, p {
  text-align: left;
  line-height: 1.8;
  font-family: Lora, serif;
}

.glowIn {
  color: white;

  span {
    animation: glow-in 0.8s both;
  }
}

@keyframes glow-in {
  from {
    opacity: 0;
  }
  65% {
    opacity: 1;
    text-shadow: 0 0 25px white;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 0.7;
  }
}

.buttonGlow {
    background: transparent;
    border: 2px solid white;
    color: white;
    font-size: 1.2em;
    padding: 10px 20px;
    cursor: pointer;
    font-family: Lora, serif;
    margin-top: 2em;
    transition: all 0.3s ease;
  }
  
  .buttonGlow:hover {
    background-color: white;
    color: black;
  }