<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/homesty.css">
</head>
<body>

    <!-------------------- ENCABEZADO ---------------------------->

    <header class="caja_header"> 
        <div class="menu_div">
            <img id="logo_Drag" src="../storage/img/414P9RxxsuL.png" alt="">
        </div>
        <div class="cajita_botones">
            <button class="boton1">
                <img src="../storage/img/home-outline.svg" alt="">
                Home
            </button>
            <button id="home" class="boton2">
                <img src="../storage/img/add-circle-outline.svg" alt="">
                Create New
            </button>
            <button id="characters" class="boton3">
                <img src="../storage/img/save-outline.svg" alt="">
                Characters
            </button>
        </div>
        <div class="mode_dark">
            <img class="modelight" id="mode_light" src="../storage/img/akar-icons_sun-fill.svg" alt="">
            <img class="modedark" id="mode_dark" src="../storage/img/bi_moon-fill.svg" alt="">
        </div>
    </header>

    <!------------------- CUERPO MAIN ----------------------------->

    <main class="caja_main">
        <div class="imagen_div">
          <img src="/storage/img/challenger-stands-front-spooky-castle-illustration.jpg" alt="">
          <div class="overlay">
            <h1>The world of Dungeons and Dragons</h1>
          </div>
        </div>
    </main>

    <!---------------------- SCRIPT --------------------------------->

    <script src="../js/home.js"></script>
</body>
</html>