<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/homesty.css">
    <link rel="stylesheet" href="../css/homerespons.css">
</head>
<body>

    <!---------------------------- ENCABEZADO ------------------------------->

    <header class="caja_header"> 
        <div class="menu_div">
            <img id="logo_Drag" src="../storage/img/414P9RxxsuL.png" alt="">
        </div>
        <div class="cajita_botones">
            <button class="boton1">
                <img src="../storage/img/home-outline.svg" alt="">
                <p class="ocultar_home">Home</p>
            </button>
            <button id="home" class="boton2">
                <img src="../storage/img/add-circle-outline.svg" alt="">
                <p class="ocultar_home">Create New</p>
            </button>
            <button id="characters" class="boton3">
                <img src="../storage/img/save-outline.svg" alt="">
                <p class="ocultar_home">Characters</p>
            </button>
        </div>
        <div class="mode_dark">
            <img class="modelight" id="mode_light" src="../storage/img/akar-icons_sun-fill.svg" alt="">
            <img class="modedark" id="mode_dark" src="../storage/img/bi_moon-fill.svg" alt="">
        </div>
    </header>

    <!------------------- CUERPO MAIN ----------------------------->

    <main class="caja_main">
        <div class="imagen_div">
          <img src="/storage/img/challenger-stands-front-spooky-castle-illustration.jpg" alt="">
          <div class="overlay">
            <h1 class="flotando">The world of Dungeons and Dragons</h1>
          </div>
        </div>
        <div class="div_sections">
            <section class="caja_section">

    <!---------------------- CAJA DE BIENVENIDA ---------------------->
                <div class="div_bienvenido">
                    <h1>Welcome to Dungeon and Dragons</h1>
                    <p>In a universe where magic, darkness, and glory intertwine, the bravest heroes and the most feared creatures are born. Here you don't just create characters... you create legends. Dungeon & Dragons is a fully interactive and visual character creation platform, where you decide the fate of your adventurers. Will you be a dragon-defying warrior, an elven sorceress who wields the elements, or a rogue master of stealth?</p>
                </div>
                <img class="ocultar_home" src="../storage/img/DnD-Emblem.png" alt="">
            </section>
            <section class="section_usar">
                <div class="div_titulo_usar">
                    <h1>What can you do in Dungeon and Dragons?</h1>
                </div>

    <!--------------------------- COMO USAR? --------------------------->

                <div class="como_usar">
                <img class="ocultar_home" src="../storage/img/ChatGPT Image Apr 21, 2025, 09_13_46 PM.png" alt="">
                    <ul class="lista_comousar">
                        <li>1. Create an epic character from scratch.</li>
                        <li>2. Choose from races and classes from the official world of Dungeons & Dragons.</li>
                        <li>3. Customize your stats: strength, intelligence, dexterity, wisdom, charisma...</li>
                        <li>4. Choose weapons, armor, and magical accessories.</li>
                        <li>5. Add unique abilities such as spells, special powers, and charms.</li>
                        <li>6. Give your character a unique name, gender, and appearance.</li>
                        <li>7. Save your favorite creations to view later or continue editing.</li>
                    </ul>
                </div>
            </section>

    <!------------------------------- COMO FUNCIONA? --------------------------->

            <section class="como_funciona">
                <div class="div_funciona-information">
                    <h1>How does it work?</h1>
                    <ul>
                        <li>1. Enter the character creator.</li>
                        <li>2. Use the filters to select race, class, equipment, and skills.</li>
                        <li>3. Customize to the max with names, accessories, and stats.</li>
                        <li>4. Save your character to the list to access its full details.</li>
                    </ul>
                </div>
                <div class="imagen_como-funciona ocultar_home">
                    <img  src="../storage/img/ChatGPT Image Apr 21, 2025, 10_56_34 PM.png" alt="">
                </div>
            </section>

    <!---------------------------- RESPONSIVE INFORMATION ------------------------------>

            <section class="section_responsive">
                <div class="div_objetivo">
                    <div class="titulo_obj">
                        <h1 class="titulo">What is the objective?</h1>
                    </div>
                    <div class="desc_obj">
                        <img class="ocultar_home ocultar_repons" src="../storage/img/recortado.png" alt="">
                        <p>Dungeon and Dragons is a platform for players, content creators, and role-playing fans who want to design characters for their games, stories, or just for fun.</p>
                    </div>
                </div>
                <div class="div_respons">
                    <div class="titulo_respons">
                        <h1>Accessible from anywhere</h1>
                    </div>
                    <div class="desc_respons">
                        <img class="ocultar_home ocultar_repons" src="../storage/img/responsive-design_1837984.png" alt="">
                        <p>Whether you're on a PC, tablet, or mobile device, Dungeon and Dragons runs seamlessly on any device, with no complicated installation or setup required.</p>
                    </div>
                </div>
            </section>

    <!--------------------------------------------- PORQUE USAR? -------------------------->

            <section class="porqueusar">
                <div class="titulo_usar">
                    <h1>Why use Dungeon and Dragons?</h1>
                    <ul>
                        <li>1- Modern and friendly visual with an immersive experience.</li>
                        <li>2- Access to official information on D&D races, classes, and skills.</li>
                        <li>3- Hundreds of possible combinations to customize your character.</li>
                        <li>4- Saving system so you don't lose your creations.</li>
                        <li>5- Compatible with role-playing campaigns, board games or interactive stories.</li>
                    </ul>
                </div>
                <div class="lista_usar ">
                    <img class="ocultar_home" src="../storage/img/ChatGPT Image Apr 22, 2025, 08_25_07 PM.png" alt="">
                </div>
            </section>
        </div>
    </main>

    <!---------------------- SCRIPT --------------------------------->

    <script src="../js/home.js"></script>
</body>
</html>