<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="../css/new.css">
</head>
<body>

    <!-------------------- ENCABEZADO ---------------------------->

    <header class="caja_header"> 
        <div class="menu_div">
            <img id="logo_Drag" src="../storage/img/414P9RxxsuL.png" alt="">
        </div>
        <div class="cajita_botones">
            <button class="boton1">
                <img src="../storage/img/home-outline.svg" alt="">
                <p class="ocultar_home">Home</p>
            </button>
            <button id="home" class="boton2">
                <img src="../storage/img/add-circle-outline.svg" alt="">
                <p class="ocultar_home">Create New</p>
            </button>
            <button id="characters" class="boton3">
                <img src="../storage/img/save-outline.svg" alt="">
                <p class="ocultar_home">Characters</p>
            </button>
        </div>
        <div class="mode_dark">
            <img class="modelight" id="mode_light" src="../storage/img/akar-icons_sun-fill.svg" alt="">
            <img class="modedark" id="mode_dark" src="../storage/img/bi_moon-fill.svg" alt="">
        </div>
    </header>
    <!------------------- CUERPO MAIN ----------------------------->

    <main class="caja_main">
        <div class="imagen_div">
          <img src="/storage/img/v7w5s5iakv471.jpg" alt="">
          <div class="overlay">
            <h1 class="flotando">Create your new character!</h1>
          </div>
        </div>
    </main>    
    <!-- SCRIPT -->
     <script src="../js/newcharacter.js"></script>
     <script src="../js/d&d.js"></script>
</body>
</html>